<div id= "cont" class="card">
    <div  class="card" >
    <form id="formulario">
        <div class="form-row">
          <div class="form-group">
            <label for="inputEmail4">Correo</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="ejemplo@gmail.com">
          </div>
          
        </div>
        <div class="form-group">
          <label for="inputAddress">Dirección</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Calle St">
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Provincia</label>
            <select id="inputState" class="form-control">
              <option selected>Seleccionar</option>
              <option>Espejo</option>
              <option>Mira</option>
              <option>Cotacachi</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputReferencia">Referencia</label>
            <input type="text" class="form-control" id="inputReferencia">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
</div>
