#pm {
    color: #FDC300;
    font-size: 40px;
}

.card-header {
    text-align: center;
    background-color: #060227;
    color: #FDC300;
    border-top-color: #FDC300;
}

card-text {
    font-family: 'Montserrat';
    font-weight: bold;
}