
<a href="/planes" class="btn-flotante"  alt="">
  <img src="assets/img/iconoV3.png" alt="">
  !Nuestros Planes¡
  <img src="assets/img/chat1.png" alt="">  
</a>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
 

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/banner vantel1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/BANNER22.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/angel1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<h1 style="text-align: center; ">Nuestros Servicios</h1>


<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="/assets/img/fibra1.jpg" alt="Card image
            cap">
        <div class="card-body">
            <h5 class="card-title">Fibra Optica</h5>
            <p class="card-text">La mas completa red de fibra optica en El
                Angel, San Isidro. La Libertad, Mira</p>
            <p class="card-text"><small class="text-muted">Actualizado hace 3
                    minutos</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/img/enlaces.jpg" alt="Card image
            cap">
        <div class="card-body">
            <h5 class="card-title">Enlaces Inalambricos</h5>
            <p class="card-text">Sistemas diseñados de acuerdo a sus
                requerimientos con uso de las mejores marcas.</p>
            <p class="card-text"><small class="text-muted">Actualizado hace 3
                    minutos</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/img/cableado estructurado1.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Cableado Estructurado</h5>
            <p class="card-text">Redes robustas basadas en estandares
                internacionales y materiales de calidad.</p>
            <p class="card-text"><small class="text-muted">Actualizado hace 3
                    minutos</small></p>
        </div>
    </div>
</div>
