<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div id="cabecera">
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-block  ">
                <span class="fa fa-globe"></span> Montufar y José Benigno Grijalva
            </a>
        </div>
        <div class="col-sm-2">
            <a href="https://wa.me/+593969743150" class="btn btn-block btn-social ">
                <span class="fa fa-whatsapp"></span> 0991855171
            </a>

        </div>
        <div class="col-sm-2">
            <a class="btn btn-block btn-social " href="https://www.facebook.com/Vantel-Telecomunicaciones-112419853445416/">
                <span class="fa fa-facebook"></span> Facebook
            </a>
        </div>
    </div>
</div>